body {
  font-family: "Rockwell", sans-serif;
  background: linear-gradient(
      to bottom,
      rgba(238, 176, 126, 0.8),
      rgba(222, 184, 135, 0.8)
    ),
    url("Imagen/Oeste.jpg");
  background-size: cover;
  background-position: center center;
  text-align: center;
  padding: 30px;
  color: #3e2f1c;
}

#nivel-info {
  font-family: "Bangers", cursive;
  font-size: 20px;
  color: #5a3b1a;
  text-shadow: 1px 1px 0 #d2b48c;
  text-align: center;
  margin-top: 10px;
}

#mensaje {
  font-family: "Bangers", cursive;
  font-size: 30px;
  color: #5a3b1a;
  text-shadow: 1px 1px 0 #d2b48c;
  text-align: center;
  margin-top: 10px;
}

#password {
  font-family: "Bangers", cursive;
  font-size: 30px;
  color: #5a3b1a;
  text-shadow: 1px 1px 0 #d2b48c;
  text-align: center;
  margin-top: 10px;
}

#zona-control {
  margin-top: 30px;
  display: flex;
  justify-content: center;
  gap: 40px;
  /* Espacio entre botones */
  flex-wrap: wrap;
}

#tituloJuego {
  font-family: "Ewert", cursive;
  font-size: 60px;
  color: #552e05; /* Marrón oscuro */
  text-shadow: 2px 2px 0 #d2b48c, 2px 2px 0 #000; /* Sombra doble como grabado */
  letter-spacing: 2px;
  text-align: center;
  margin-top: 30px;
}

/* --- Botones redondos iguales --- */
button {
  font-family: "Fjalla One", sans-serif;
  font-size: 1.5em;
  /* Aumentar el tamaño del texto */
  width: 180px;
  height: 180px;
  border: none;
  border-radius: 50%;
  background-color: #ff7f32;
  /* Cambiar a un color más llamativo */
  color: #fff;
  cursor: pointer;
  box-shadow: 0 6px 15px rgba(255, 127, 50, 0.6);
  /* Sombra más intensa */
  transition: all 0.3s ease;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  /* Hacer el texto más fuerte */
  text-shadow: -1px -1px 0 #643713, 1px -1px 0 #643713, -1px 1px 0 #643713,
    1px 1px 0 #643713;
}

/* Estilo para el botón dentro del cartel de GAME OVER */
#cartel-gameover #btnReiniciar {
  width: 150px; /* Un poco más grande */
  height: 150px; /* Un poco más grande */
  margin-top: 5px; /* Separación con el texto */
}

button:disabled {
  background-color: #c0a080;
  cursor: not-allowed;
}

button:hover:enabled {
  background-color: #f8a62b;
  /* Cambiar a un color más brillante al pasar el ratón */
  transform: scale(1.1);
  /* Agrandar un poco el botón al pasar el ratón */
  box-shadow: 0 10px 30px rgba(255, 127, 50, 0.8);
  /* Sombra más grande */
}

button:active {
  transform: scale(1.05);
  /* Reducir un poco el tamaño al hacer clic */
  box-shadow: 0 4px 10px rgba(241, 186, 3, 0.788);
  /* Sombra más suave al hacer clic */
}

/* Animación para hacer girar el botón */
@keyframes giroLoco {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.girando {
  animation: rotar 1s linear infinite;
}

@keyframes rotar {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* Animación para dar dinamismo a las letras y que veas cuando subes de nivel */
@keyframes slide-in {
  from {
    transform: translateX(-100%); /* Empieza desde fuera de la pantalla */
    opacity: 0;
  }
  to {
    transform: translateX(0); /* Termina en su posición original */
    opacity: 1;
  }
}

.anim-slide-in {
  animation: slide-in 0.5s ease-out forwards; /* Aplicamos la animación */
}

/* Aplicamos la animación para cuando recibimos un disparo */
@keyframes flash-disparo {
  0% {
    background-color: rgba(255, 255, 255, 0.9);
  }
  25% {
    background-color: rgba(255, 0, 0, 0.6);
  }
  50% {
    background-color: rgba(255, 255, 0, 0.6);
  }
  75% {
    background-color: rgba(255, 0, 0, 0.4);
  }
  100% {
    background-color: transparent;
  }
}

#pantalla-flash {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  pointer-events: none;
  z-index: 999;
  background-color: transparent;
}

/* Aplicamos la animación game over */
#cartel-gameover {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.7); /* Oscurecer fondo */
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1002;
  pointer-events: none;
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}

#cartel-gameover.mostrar {
  opacity: 1;
  pointer-events: auto;
}

#texto-gameover {
  font-family: "Bangers", cursive;
  font-size: 60px;
  color: #3e2f1ca9;
  text-shadow: 2px 2px black;
  text-align: center;
  margin-bottom: 5px;
}

/* Animación para que el cartel entre con más dinamismo */
@keyframes entradaCartel {
  0% {
    transform: scale(0.5) rotate(45deg);
    opacity: 0;
  }
  50% {
    opacity: 0.5;
    transform: scale(1.2) rotate(15deg);
  }
  100% {
    opacity: 1;
    transform: scale(1) rotate(0deg);
  }
}

#cartel-contenido {
  background-image: url("Imagen/sebusca.jpg");
  background-size: contain;
  background-repeat: no-repeat;
  width: 425px;
  height: 600px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  animation: entradaCartel 1.5s ease-out forwards;
  position: relative;
  gap: 10px; /* Espacio entre texto y botón */
}
